<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer class="page-footer font-small cyan darken-3">
        <div class="footer-copyright text-center py-3">
        <nav>
            <a href="/" target="_blank"> Blog</a>
            <a href="/" target="_blank"> Github</a>
        </nav>
        <p>
            <span> HS-mall</span>
            <span> email : HS-mall@gamil.com</span>
        </p>
            2023 HS-Shopping
            Copyright 2023. All Rights Reserved
        </div>
    </footer>
</div>
</html>